.categories {
  display: flex;
  flex-direction: column;
  padding: 0px 10%;

  &_link {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: red;

    &:hover {
      cursor: pointer;
      color: blue;
      text-decoration: underline;
    }
  }
}
